<!--Project done by:
    Satya Nilamegam Kumaran - C0886405
    Mani Rathna Reddy Bellamkonda - C0887487
    Karthik Saride - C0886429
    Ravi Varman Ravichandran - C0885920
This app allows a user to signup and login.-->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' media='screen' href='../css/home.css'>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="details">
            <% cars.forEach(car=> { %>
            <div class="car">
                <h2>Car Details</h2>
                <img src="https://thumbs.dreamstime.com/z/new-toyota-camry-white-colour-luxury-business-limousine-new-toyota-camry-white-colour-luxury-business-limousine-cruising-200557709.jpg?ct=jpeg"
                    alt="Car Image" style="max-width: 100%;">
                <p><span><strong>Make:</strong> <%= car.make %></span> <span><strong>Variant:</strong> <%= car.variant %></span></p>
                <p><strong>Model:</strong> <%= car.model %> <span><strong>Fuel Type:</strong> <%= car.gasType %></span></p>
                <p><strong>Year:</strong> <%= car.year %> <span><strong>Engine Capacity:</strong> <%= car.engineCapacity %></span></p>
                <p><strong>Color:</strong> <%= car.color %> <span><strong>Gear Type:</strong> <% if (car.isAutomatic == true) {%>Automatic<%} else {%>Manual<%} %></span></p>
                <p><strong>Price:</strong> <%= car.price %></p>
                <p></p>
                <form action="<%=`/edit/${car.id}` %>" method="post"><button type="submit " class="edit-button">Edit</button></form>
            </div>
            <% }) %>
        </div>
    </div>
</body>

</html>